<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />

<title>用户中心_雷神官网—雷神,雷神笔记本电脑,雷神游戏本,台式机,鼠标键盘官方正品商城！</title>



<link rel="shortcut icon" href="http://www.leishen.cn/favicon.ico" />
<link rel="icon" href="animated_favicon.gif" type="image/gif" />
<link rel="stylesheet" type="text/css" href="static/css/verify.css">
<link href="static/css/login.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="static/js/common.js"></script>

<style type="text/css">
    #huadong img{
        width: 20px;
        height: auto;
        vertical-align: sub;
        float: left;
        display: inline-block;
       margin-top: 10px;
        margin-left: 5px;
    }
</style>


    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?1463e5964a3a2e562960ae5acd14d4e9";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?344e9d0431febdad971e64ade06c461d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script async src="static/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3406886871163072",
    enable_page_level_ads: true
  });
</script>
<script type="text/javascript" src="static/js/check.js"></script>    
    <script type='text/javascript'>
        (function () {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = (location.protocol == 'https:' ? 'https://ssl.' : 'http://static.') + 'gridsumdissector.com/js/Clients/GWD-000524-97A4FD/gs.js';
            var    firstScript = document.getElementsByTagName('script')[0];
            firstScript.parentNode.insertBefore(s, firstScript);
        })();
    </script>
    
    <script language="javascript" src="static/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="static/js/user.js"></script>
    <script language="javascript">
        var jq=jQuery.noConflict();
        jq(function(){
            jq("#btns").click(function(){
                var code_num = jq("#code_nums").val();
                var is_success = jq("#is_success").val();
                if(is_success == 0){
                    alert('请完成点击验证');
                    return false;
                }
                jq.post("/vcode.php?type=mpwd_check",{vcode:code_num},function(mseeg){
                    if(mseeg==1){
                        var oo = document.getElementById('btns');
                        getverifycode3('extend_field5', '手机');

                        //document.getElementById("btns").onclick=function(){time(this);};
                    }else{
                        alert("验证码错误！");
                        return false;
                    }
                });
            });
        });
    </script>
    <script src="static/js/wb.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" src="static/js/transport.js"></script>

<body>


<script type="text/javascript" src="static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="static/js/jquery.json.js"></script>
<script type="text/javascript" src="static/js/transport_jquery.js"></script>
<script type="text/javascript" src="static/js/utils.js"></script>
<script type="text/javascript" src="static/js/jquery.superslide.js"></script>
<script type="text/javascript" src="static/js/xiaomi_common.js"></script>
<script type="text/javascript" src="static/js/sms.js"></script>
<script type="text/javascript">
    $(function() {
        window.__Object_toJSONString = Object.prototype.toJSONString;
        delete Object.prototype.toJSONString;
    });
</script>
<script>

$(function(){

//加载清空文本框
$("input:text,input:password").val("");

//提示文字隐藏显示效果
//登录界面
$(".enter-area .enter-item").focus(function(){
	if($(this).val().length==0){
		$(this).siblings(".placeholder").addClass("hide");
	}
}).blur(function(){
	if($(this).val().length==0){
		$(this).siblings(".placeholder").removeClass("hide");
	}
}).keyup(function(){
	if($(this).val().length>0){
		$(this).siblings(".placeholder").addClass("hide");
	}else{
		$(this).siblings(".placeholder").removeClass("hide");
	}
});
//注册界面
$(".inputbg input").focus(function(){
	if($(this).val().length>0){
		$(this).parent().siblings(".t_text").addClass("hide");
	}
}).blur(function(){
	if($(this).val().length==0){
		$(this).parent().siblings(".t_text").removeClass("hide");
	}
}).keyup(function(){
	if($(this).val().length>0){
		$(this).parent().siblings(".t_text").addClass("hide");
	}else{
		$(this).parent().siblings(".t_text").removeClass("hide");
	}
});


})
</script>
<script>
    //其它登录方式
    $("#other_method").click(function(){
        if($(".third-area").hasClass("hide")){
            $(".third-area").removeClass("hide");
        }else{
            $(".third-area").addClass("hide");
        }
    })
</script>


<div id="main" class="layout">
  <div class="nl-content">
  	<div class="nl-logo-area">
    	<a href="./"><img src="static/picture/logo2.0.png"/></a>
    </div>
    <h1 class="nl-login-title">一个帐号，玩转所有雷神官网服务！</h1>
    <p class="nl-login-intro"></p>
    <div id="login-box" class="nl-frame-container">
        <div class="ng-form-area show-place">
            <form name="formLogin" action="http://www.leishen.cn/user/" method="post" onSubmit="return userLogin()">
            	<div class="shake-area">
                    <div class="enter-area">
                      <input name="username" type="text"  class="enter-item first-enter-item" placeholder="雷神账号/手机/邮箱"/>
                      <i class="placeholder">用户名</i>
                    </div>
                    <div class="enter-area">
                      <input name="password" type="password" class="enter-item last-enter-item" placeholder="密码"/>
                      <i class="placeholder">密码</i>
                    </div>
                </div>
                <div class="enter-area img-code-area">
                                        <style>
                        #huadong{
                            width: 98%;
                            background-image: linear-gradient(180deg, #ffffff 0%,#f3f3f3 100%);
                            color: #666;
                            white-space: nowrap;
                            text-align: left;
                            line-height: 40px;
                            -moz-transform: translate3d(0, 0, 0);
                            -ms-transform: translate3d(0, 0, 0);
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                            border: 1px solid #ccc;
                            border-radius: 2px;
                            cursor: pointer;
                        }
                        #nav{
                            background: rgba(255,255,255,0);
                            position: fixed;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top:0;
                            z-index: 99;
                        }
                        .close_yz{
                            position: fixed;
                            display: inline-block;
                            z-index: 9;
                            width:100%;
                            height: 100%;
                            top:0;
                            left: 0;
                        }
                        .y_main{
                            position: absolute;
                            left: 50%;
                            top:46%;
                            display: inline-block;
                            z-index: 999;
                            margin-left: -180px;
                            margin-top: -122.5px;


                        }
                    </style>
                    <div id="nav" style="display: none">

                        <a href="javascript:;" class="close_yz">

                        </a>

                        <div class="y_main">

                            <div id="mpanel4">

                            </div>
                        </div>

                    </div>
                    <div  id="huadong" style="text-align: center">
                        <img src="static/picture/yanzheng.png"/>
                        <span>点击完成验证</span>
                    </div>

                </div>
                <input type="hidden" name="act" value="act_login" />
                <input type="hidden" name="back_act" value="../user/" />
                <input type="hidden" name="is_success" id="is_success" value="0" />
                <input type="hidden" name="vcode" id="vcode"  />
                <input type="submit" name="submit" class="button orange" value="立即登录">
                <div class="ng-foot clearfix">
                	<div class="ng-cookie-area"><label><input type="checkbox" value="1" name="remember" id="remember" class="remember-me">请保存我这次的登录信息。</label></div>
                    <div class="ng-link-area">
                       <span><a href="http://www.leishen.cn/user/register">注册</a><span> | </span></span>
                    	<span><a href="http://www.leishen.cn/user/mpwd">忘记密码?</a></span>
                        <div class="third-area">第三方登录：
                            <!-- <a class="ta-weibo" target="_blank" href="http://www.leishen.cn/user.php?act=oath&amp;type=weibo" title="weibo">weibo</a> -->
                            <a class="ta-qq" target="_blank" href="http://www.leishen.cn/user.php?act=oath&amp;type=qq" title="qq">qq</a>
                            <!-- <a class="ta-alipay" target="_blank" href="http://www.leishen.cn/user.php?act=oath&amp;type=alipay" title="alipay">alipay</a> -->
                             <a class="ta-weixin" target="_blank" href="http://www.leishen.cn/user.php?act=oath&amp;type=weixin" title="weixin">weixin</a>
                             
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
  </div>

    <script>
        //其它登录方式
        $("#other_method").click(function(){
            if($(".third-area").hasClass("hide")){
                $(".third-area").removeClass("hide");
            }else{
                $(".third-area").addClass("hide");
            }
        })
    </script>
  <div class="nl-footer">
  	<div class="nl-f-nav">
    	<span>
                </span>
    </div>
    <p class="nl-f-copyright">© 2014-2017 www.leishen.cn 青岛雷神科技股份有限公司 版权所有 全国免费咨询电话：4006-999-999   鲁ICP备14015908号-1</p>
  </div>
</div>


<script type="text/javascript" src="static/js/verify.js"></script>
<script>
    var vcode = '["http:\/\/static.leishen.cn\/vcode\/152418598137468.jpg","http:\/\/static.leishen.cn\/vcode\/152420388973597.jpg"]';
    vcode=JSON.parse(vcode);
    $('#mpanel4').slideVerify({
        type : 2,		//类型
        vOffset : 3,	//误差量，根据需求自行调整
        vSpace : 3,	//间隔
        imgName : vcode,
        imgSize : {
            width: '358px',
            height: '170px',
        },
        blockSize : {
            width: '40px',
            height: '40px',
        },
        barSize : {
            width : '358px',
            height : '40px',
        },
        ready : function() {
        },
        success : function() {
            $.ajax({
                url: "/vcode.php",
                type: "POST",
                data: {"type": 'login'},
                success: function (data) {
                $('#vcode').val(data);
                }
            });
            $('#is_success').val('1');
            $('#huadong').css('border','1px solid #18A452');
            $('#huadong span').text('已完成验证');
            $('#huadong img').attr("src","http://7xkyx1.com1.z0.glb.clouddn.com/activity/activity/images/other/yanzheng2.png");
            $('#huadong').css('color','#18A452');
            $('#huadong').css('background','#EEFFF5');
            $('#is_success').val(1);
            $('#nav').css('display','none');
            //......后续操作
        },
        error : function() {
//		        	alert('验证失败！');
        }

    });
    $(".close_yz").click(function () {
        $('#nav').css('display','none');
    })
    $('#huadong').click(function(){
        var is_success = $('#is_success').val();
        if(is_success == 0){
            $('#nav').css('display','block');
        }
    })
</script>









    







</body>
<script type="text/javascript">
var process_request = "正在处理您的请求...";
var username_empty = "用户名不能为空。";
var username_shorter = "用户名长度不能少于 3 个字符。";
var username_invalid = "用户名只能是由字母数字以及下划线组成。";
var password_empty = "登录密码不能为空。";
var password_shorter = "登录密码不能少于 6 个字符。";
var confirm_password_invalid = "两次输入密码不一致";
var email_empty = "Email 为空";
var email_invalid = "Email 不是合法的地址";
var agreement = "您没有接受协议";
var msn_invalid = "msn地址不是一个有效的邮件地址";
var qq_invalid = "QQ号码不是一个有效的号码";
var home_phone_invalid = "家庭电话不是一个有效号码";
var office_phone_invalid = "办公电话不是一个有效号码";
var mobile_phone_invalid = "手机号码不是一个有效号码";
var msg_un_blank = "用户名不能为空";
var msg_un_length = "用户名最长不得超过7个汉字";
var msg_un_format = "用户名含有非法字符";
var msg_un_registered = "用户名已经存在,请重新输入";
var msg_can_rg = "可以注册";
var msg_email_blank = "邮件地址不能为空";
var msg_email_registered = "邮箱已存在,请重新输入";
var msg_email_format = "邮件地址不合法";
var msg_blank = "不能为空";
var no_select_question = "您没有完成密码提示问题的操作";
var passwd_balnk = "- 密码中不能包含空格";
var username_exist = "用户名 %s 已经存在";
</script>
</html>
